body {
    padding: 8px 16px 0px 8px;	
	background-color:#fff;
}

header {
    font-size: 20px;
	margin-left: 0px;
	font-family: 'Helvetica', sans-serif;
	margin-top: 50px;
	letter-spacing: 1px;
}


nav{
	width: 250px;
	position: fixed;
	font-family: 'Helvetica', sans-serif;
	margin-top: -50px;
	font-size: 12px;
	left: 10px;
	text-align: left;
    text-transform: uppercase;
    line-height: 20px;
	font-weight: 400;
    
}

footer{
	font-family: 'Helvetica', sans-serif;
	position: fixed;
	bottom: 0px;
	right: -150px;
	text-align: right;
	font-size: 13px;
	text-transform: uppercase;
	font-weight:400;
	
}


article {
	margin-top: 50px;
	font-family: helvetica, sans-serif;
	font-size: 18px;
	color: black;
}

li {
    list-style: none;
    margin-bottom: 8px;
     color:#1500ff;

}


h2, h3, h6 {
    margin: 30px 180px;
	font-family: 'Helvetica', sans-serif;
	color: black;
	margin-left: 150px;
}

h4,h5{
    margin: 30px 180px;
	font-family: 'Helvetica', sans-serif;
	color:#1500ff;
	font-weight:400;
	line-height:0;

}

h1{ position: fixed;
	top:0px;
	right: 25px;
	text-align: right;
	font-size: 13px;
	text-transform: uppercase;
    font-weight: 400;
    color:#1500ff;
    
   
}
h2{
	margin-top: 30px;
	font-size: 15px;
	font-weight: 100;
}


h3{
	margin-top: 30px;
 	font-size: 13px;
    font-weight: 100;
}

h3:hover{

color:#1500FA;
text-decoration: underline;

}

ul, ol {
    padding-left: 20px;
}

a{
	color:black;
	text-decoration: none;
}

a:hover{
	color: black;	
	text-decoration: none;
} 
a:visited{
	color:black;
}
a:active {
    color: black;
}

p {
	font-size: 16px;
    margin-top: 0;
	line-height: 1.5;
	margin-bottom: 25px;
	margin-left: 180px ;
    margin-right: 180px ;
	
	
}

p:hover{
color:#1500FA;
text-decoration: underline;
}

div{
	width:800px;
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 25px;

}

.footnote {
    float: right;
    width: 180px;
    margin-right: -250px;
    padding: 3px;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    line-height: 21px;
    font-family: 'Helvetica', sans-serif;
    font-weight:bold;
}

.footnote:hover{
	color:#1500FA;
    text-decoration: underline;
}

#content {
  width: 1000px ;
  margin-left: auto ;
  margin-right: auto ;
}

/* This makes the images scale to the full width of the page */
img {
    width: 100%;
    height: auto;
    margin-left:0px;
}

img.noscale {
    width: inherit;
}

sub {
	float:right;
	font-size: 18px;
	font-weight:medium;
	line-height:2;
}

sub:hover{
	color:#1500FA;
    text-decoration: underline;
}
#footnote_gedicht {
	display: inline;
	position:relative;
	z-index: 1000;
	font-size: 12px;
	width: 100px;
}

.bibliography {
	font-size: 14px;
	line-height: 24px;
}

@media screen and (max-width: 36em) {
body {
    padding: 0px 0px 0px 0px;	
	background-color: #fff;
}

header {
    font-size: 10px;
	font-family: 'Helvetica', sans-serif;
	margin-left: 0px;
}

nav{
	display: none;
	display: block;
	position: absolute;
	width: 120px;
	margin-top:0px;
	font-size: 12px;
	color: black;
}

footer{
display: none;
}


article {
	margin-top: 25px;
	font-family: 'Helvetica', sans-serif;
	font-size: 15px;
}

li {
    list-style: none;
    margin-bottom: 8px;
}


h1, h2, h3, h4,h5, h6 {
    margin: 10px 20px;
	font-family: 'Helvetica', sans-serif;
	color: black;
}
h2{
	margin-top: 0px;
	font-size: 12px;
	color: black;
	
}

h1{
	font-size: 13px;
	color: black;
}

ul, ol {
    padding-left: 20px;
}


a{
	display:none;
	color:black;
	text-decoration: none;
}

a:hover{
	color: black;	
	text-decoration: none;
} 
a:visited{
	color:black;
	text-decoration: none;
}
a:active {
    color: black;
    text-decoration: none;
}

p {
	font-size: 12px;
    margin-top: 0;
	margin-right: 30px;
	line-height: 1.8;
	margin-bottom: 25px;
	margin-left: 30px;
	
}
	
}

@media only screen and (min-width: 36em) {
   
}

@media only print {
	body{
		background-color: none;
	}
    /**
     * When printing, the header is useful but it doesnâ€™t need
     * to be so big
     */
    header h1, h2{
        font-size: 18pt;
        font-weight: normal;
    } 
	article {
		margin-left: 200px;
		margin-right: -300px;
		font-size: 12pt;
	}
    /* And the navigation we donâ€™t need */
    nav {
        display:none;
    }
	footer{
		font-size: 8pt;
		line-height: 1.2;
	}
}